<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferir NFT de Apunte</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}" />
</head>
<body>

    <center>
        <h1 class="text-center">
            Dame el ID del NFT y la cuenta de Algorand a la cuál Transferir:
        </h1>
        <form action = "{{ url_for('transferir') }}" method="POST">
            <input type = "text" name = "id" placeholder="ID del asset no fungible" style="width: 300px;"><br>
            <br>
            <input type = "text" name = "direccionr" placeholder="Dirección de la cuenta a Transferir" style="width: 300px;"><br>
            <br>
            <input type = "submit" value = "Subir" style="width: 150px; height: 40px;">
        </form>

        {% if mensaje %}
            <p>{{mensaje}}</p>
        {% endif %}
        <br>
        <a href="/menu">Regresar al Menú de transacciones</a>
        </center>
</body>
</html>